<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <a href="#" class="logo">Mi Aplicación</a>
      </div>
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)">
        <nb-option value="default">Tema Claro (Default)</nb-option>
        <nb-option value="dark">Tema Oscuro (Dark)</nb-option>
        <nb-option value="cosmic">Tema Violeta (Cosmic)</nb-option>
        <nb-option value="corporate">Tema Corporativo (Corporate)</nb-option>
      </nb-select>
    </div>
  </nb-layout-header>

  <nb-sidebar>Menú lateral</nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>Pie de página</nb-layout-footer>
</nb-layout>
